
{{define "form-fields"}}
  <div class="form-group mt-3">
    <label for="title">标题</label>
    <input type="text" class="form-control {{if .Errors }}is-invalid {{end}}" name="title" value="{{ .Title }}" required>
    {{ with .Errors }}
      <div class="invalid-feedback">
        {{ .title }}
      </div>
    {{ end }}
  </div>

  <div class="form-group mt-3">
    <label for="body">内容</label>
    <textarea name="body" cols="30" rows="10" class="form-control {{if .Errors }}is-invalid {{end}}">{{ .Body }}</textarea>
    {{ with .Errors }}
      <div class="invalid-feedback">
        {{ .body }}
      </div>
    {{ end }}
  </div>
{{ end }}