<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .Title }} -- my Technical blog</title>
        <style class="text/css">.error {color:red;}</style>
    </head>
    <body>
        <p>ID: {{ .ID }}</p>
        <p>TITLE: {{ .Title }}</p>
        <p>BODY: {{ .Body }}</p>
    
        {{/* This is a comment */}}
        {{ $idString := Uint64ToString .ID }}
        <form action="{{ RouteNameToURL "articles.delete" "id" $idString }}" method="post">
            <button type="submit" onclick="return confirm('Are you sure you want to delete?')">Delete Article</button>
        </form>
    </body>
</html>