<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .Title }} -- My Technical blog</title>
        <style type="text/css">.error {color:red;}</style>
    </head>

    <body>
        <p>ID: {{ .ID }}</p>
        <p>Title: {{ .Title }}</p>
        <p>Content: {{ .Body }}</p>
    
        {{/* This is a comment */}}
        {{ $idString := Int64ToString .ID }}
        <form action="{{ RouteNameToURL "articles.delete" "id" $idString }}" method="post">
            <button type="submit" onclick="return confirm('Are you sure you want to delete?')">Delete Article</button>
        </form>
        
    </body>
</html>